<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>849184052267-gt336idbr42o25vqhmhea32knfsm1nej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.849184052267-gt336idbr42o25vqhmhea32knfsm1nej</string>
	<key>API_KEY</key>
	<string>AIzaSyBrV9Kwy4K7wWQ1XojcX_vmZC8n14dayIE</string>
	<key>GCM_SENDER_ID</key>
	<string>849184052267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webullish.webullish</string>
	<key>PROJECT_ID</key>
	<string>pharmcy-86f64</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmcy-86f64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849184052267:ios:58508ac62960f95578466e</string>
</dict>
</plist>